absl-py==0.9.0
astor==0.8.1
audioread==2.1.8
bleach==1.5.0
certifi==2019.11.28
cffi==1.14.0
cycler==0.10.0
decorator==4.4.1
enum34==1.1.6
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.1
h5py==2.10.0
html5lib==0.9999999
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
librosa==0.6.3
llvmlite==0.31.0
Markdown==3.2
matplotlib==3.0.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numba==0.48.0
numpy==1.18.1
opt-einsum==3.1.0
protobuf==3.11.3
pyasn1==0.4.8
PyAudio==0.2.11
pycparser==2.19
pyparsing==2.4.6
pyreadline==2.1
python-dateutil==2.8.1
resampy==0.2.2
rsa==4.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
tensorboard==2.0.0
tensorflow==2.5.0
tensorflow-estimator==2.0.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
Werkzeug==1.0.0
wincertstore==0.2
wrapt==1.11.2
